#app {
  background-image: url('../img/back1@2x.png');
  background-size: 100% 100%;
  overflow: hidden;
}
.home {
  width: 100%;
  height: 100%;
  background-image: url('../img/back1@2x.png');
  background-size: 100% 100%;
}
.main-font {
  position: absolute;
  top: 44%;
  transform: scale(0.9);
  left: 17%;
}
.main-font img {
  width: 100%;
  height: 100%;
}
.two-main {
  left: 15px;
  position: fixed;
  top: 45%;
}
.two-main .yuan {
  height: 100%;
  transform: scale(0.8);
  position: relative;
  left: 14px;
}
.two-main .yuan .font {
  color: #FFFFFF;
  font-size: 19px;
  position: relative;
  top: 10px;
  right: 15px;
  letter-spacing: 3px;
}
.btn {
  width: 150px;
  height: 60px;
  margin: 40px auto;
  transition: all 0.25s;
  animation: rotatebtn 2s linear infinite;
  position: relative;
  left: -14px;
}
img {
  width: 100%;
  height: 100%;
}
@keyframes rotatebtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.three {
  position: fixed;
  top: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.three > div:first-child {
  position: absolute;
  width: 60%;
  height: auto;
}
.three > div:first-child .text {
  position: absolute;
  top: 0;
  padding: 0px 45px 45px 45px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 22px;
  flex-direction: column;
}
.three > div:first-child .text .input {
  border: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  transform: scale(0.9);
}
.three > div:first-child .text .img {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.9);
}
.three > div:first-child .text .reupload {
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  font-size: 16px;
  background: #f0f9eb6e;
  color: #FFFFFF;
  border-color: #c2e7b0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three > div:first-child .text .reupload .input {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 7777;
}
.three > div:first-child .text > div {
  margin: 4px 0;
}
.three .textfont {
  position: fixed;
  top: 58%;
}
.three .textfont p {
  margin: 2px 0;
  padding: 0;
  color: #FFFFFF;
  line-height: 25px;
}
.four .imgs {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.four .positonImg3 {
  position: absolute;
  color: red;
  transition: all 0.25s;
  animation: positonImg3 3s linear;
  left: 47%;
  top: 30%;
  font-size: 20px;
  opacity: 0;
  height: 30px;
}
.four .positonImg2 {
  position: absolute;
  color: red;
  transition: all 0.25s;
  animation: positonImg2 3s linear;
  left: 47%;
  top: 30%;
  font-size: 20px;
  height: 30px;
  opacity: 0;
}
.four .positonImg1 {
  position: absolute;
  color: red;
  transition: all 0.25s;
  animation: positonImg1 3s linear;
  left: 47%;
  top: 30%;
  font-size: 20px;
  height: 30px;
  opacity: 0;
}
.four .showimgs {
  position: absolute;
  top: 28%;
  left: 0%;
  animation-duration: 2s;
}
.four .showimgs img {
  transform: scale(0.9);
}
@keyframes positonImg1 {
  0% {
    top: 0%;
    left: 27%;
    font-size: 22px;
    opacity: 1;
  }
  50% {
    top: 15%;
    left: 40%;
    font-size: 22px;
  }
  90% {
    opacity: 0;
    font-size: 15px;
  }
}
@keyframes positonImg2 {
  0% {
    top: 53%;
    left: 100%;
    font-size: 22px;
    opacity: 1;
  }
  50% {
    top: 40%;
    left: 75%;
    font-size: 22px;
  }
  90% {
    opacity: 0;
    font-size: 15px;
  }
}
@keyframes positonImg3 {
  0% {
    top: 75%;
    left: 0%;
    font-size: 22px;
    opacity: 1;
  }
  50% {
    left: 28%;
  }
  80% {
    left: 42%;
  }
  90% {
    opacity: 0;
    font-size: 15px;
  }
}
.five-content {
  position: fixed;
  top: 13%;
  left: 0;
}
.five-content .title {
  width: 75%;
  margin: 0 auto;
  right: -15px;
  position: relative;
}
.five-content .content-btn {
  width: 80%;
  margin: 0 auto;
}
.five-content .content-btn > div {
  width: 70%;
  margin: 15px auto;
}
.six .six-content {
  width: 100% !important;
  background-image: url('../img/six-date.png');
  background-size: 100% 100%;
  height: 310px;
}
.six .six-content .content {
  margin: 60px 0 0 0;
  position: absolute;
  width: 100%;
}
