#nprogress .bar {
    background: #233B89 !important;
}

#nprogress .spinner-icon {
    border-left-color: #233B89;
    border-right-color: #233B89;
}

.navbar-icon {
    width: 30px;
    height: 30px;
}

* {
    box-sizing: border-box;
}

// 登录
.warp {
    background-size: 100%;
    position: relative;

    .warp-title {
        padding: 32px 28px 0 28px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
    }

    .warp-content {
        margin-top: 51px;
        background: #FFFFFF;
        border-radius: 43px 43px 0px 0px;

        .logo {
            padding-top: 24px;
            display: flex;
            justify-content: center;

            img {
                width: 139px;
                height: 44px;
            }
        }

        .warp-main {
            margin-top: 30px;
            padding: 0 28px;

            .warp-login {
                height: 100px;

                .warp-label {
                    font-size: 18px;
                    font-family: SourceHanSansSC-Medium, SourceHanSansSC;
                    font-weight: 500;
                    color: #1C1C1C;
                }

                .warp-field {
                    padding: 10px 0 0 0;
                    border-bottom: 1px solid #F2F2F2;

                    input {
                        font-size: 14px;
                        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                        font-weight: 400;
                    }
                }
            }

            // 登录按钮
            .warp-submit {
                margin-top: 30px;
            }

            // PrivacyStatement 隐私声明
            .PrivacyStatement {
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .PrivacyStatementFont {
                    font-size: 14px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #000000;
                    padding: 2px 0 0 0;
                }

                .span {
                    color: #4B5F9F;
                }
            }
        }
    }
}

// 主页
.wapper-home {
    background: #FFFFFF;
    background-size: 100%;
    position: relative;

    .wapper-home-search {
        margin-top: 20px;
    }

    .wapper-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        padding-top: 34px;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >div:first-child {
            width: 20px;
        }

        >div:last-child {
            img {
                width: 20px;
                height: 4px;
            }
        }

        .wapper-title-font {
            font-size: 16px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}


// 搜索
.wapper-search {
    padding: 0 18px;

    .wapper-s-item {
        width: 100%;
        height: 38px;
        border-radius: 22px;
        border: 1px solid #FAFAFA;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 19px;
        transition: all .2;

        .wapper-icon {
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;

        }

        .wapper-input {
            margin-left: 15px;
            height: 100%;
            display: flex;
            align-items: center;

            input {
                height: 90%;
                border: 0;
                outline: 0;
                background-color: #FFFFFF;

                font-size: 15px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #505050;
            }


        }
    }
}

// banner
.wapper-home-banner {
    margin-top: 21px;
    padding: 0 12px;
    border-radius: 6px;
    overflow: hidden;

    .van-swipe__indicators {
        bottom: 5px;
    }

    .van-swipe__indicator {
        background-color: #C4C4C4;
    }
}

// 置顶后搜索样式
.wapper-istop {
    margin-top: 0px !important;
    padding: 0 !important;

    .wapper-s-item {
        border-radius: 0px !important;
    }
}

// 内容
.wapper-content {
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    margin: 0 9px;
    margin-top: 25px;
    // height: calc(100% - 180px);

    .wapper-tab {
        display: flex;
        justify-content: space-between;

        >div {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .2s;

            &:active {
                background-color: #eee;
                border-radius: 5px;
            }
        }

        img {
            width: 58px;
            height: 43px;
        }

        p {
            font-size: 14px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #000000;
            margin: 0;
            margin-top: 8px;
        }
    }


}

// 推荐
.wapper-recommend {
    padding: 29px 11px 0px 11px;

    .title {
        font-weight: 550;
        font-size: 18px;
        font-family: SourceHanSansSC-Medium, SourceHanSansSC;
        color: #000000;
    }
}

.wapper-re-list {
    position: relative;
    margin-top: 14px;
    // padding: 0 16px;

    .wapper-span {
        width: 94px;
        height: 21px;
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .wapper-span-back {
            background: #233B89;
            border-radius: 4px;
            opacity: 0.14;
            border: 1px solid #233B89;
            width: 100%;
            height: 100%;
        }

        >div {
            font-size: 12px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #233B89;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    >div:first-child {
        margin: 0 !important;
    }


    .wapper-list {
        display: flex;
        justify-content: space-between;
        height: 92px;
        // border-bottom: 1px dashed #F5F5F5;
        // border-bottom: 1px dashed #000;
        margin: 24px 0;
        width: 100%;
        position: relative;

        &::after {
            content: ' ';
            height: 2px;
            width: 100%;
            position: absolute;
            border-bottom: 1px dashed #F5F5F5;
            bottom: 0;
            margin-bottom: -12px;
        }

        .wapper-l-left {
            padding: 0 10px;
            width: 70%;

            .wapper-l-title {
                font-size: 16px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                position: relative;
                display: flex;

                >div:first-child {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 0px 0 2px;
                    line-height: 1;
                    // white-space: break-spaces;
                    // word-break: break-all;
                }

                >div:last-child {
                    width: 11px;
                    padding: 0 10px;
                }

                img {
                    width: 11px;
                    height: 14px;
                }
            }

            .wapper-l-time {
                padding: 0 !important;
                margin-top: 2px;
            }

            .wapper-l-info {
                display: flex;
                font-size: 11px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #7B7B7B;
                align-items: center;
                padding: 7px 0 0 0;

                .wapper-l-author {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #687291;
                    width: 40%;


                    img {
                        width: 16px;
                        height: 16px;
                    }

                    >div:last-child {
                        margin-left: 6px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                >div:last-child {
                    // margin-left: 22px;
                }
            }

            .wapper-icon-sim {
                display: flex;

                .wapper-span {
                    width: 94px;
                    height: 21px;
                    margin-top: 11px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .wapper-span-back {
                        background: #233B89;
                        border-radius: 4px;
                        opacity: 0.14;
                        border: 1px solid #233B89;
                        width: 100%;
                        height: 100%;
                    }

                    >div {
                        font-size: 12px;
                        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                        font-weight: 400;
                        color: #233B89;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                >div:last-child {
                    margin-left: 10px;
                }
            }

        }

        .wapper-l-right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            >div:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .wapper-ri-pic {
                position: relative;

                .player {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 10px;
                        height: 13px;
                    }
                }
            }

            .recommend {
                width: 60px;
                height: 20px;
                background: #FF5858;
                border-radius: 2px;
                font-size: 12px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                margin: -7px;
                margin-top: -5px;
            }

            >div {
                width: 100px;
                height: 92px;
                border-radius: 4px;

                img {
                    width: 100px;
                    height: 92px;
                }
            }
        }
    }

    >div:last-child {
        border: 0;

        >div {
            &::after {
                border: 0;
            }
        }
    }
}

// 个人中心
.wapper-my {
    height: 100%;
    background-color: #ECECEC;

    .wapper-center-t1 {
        height: 78px;
        background: #FFFFFF;
        padding: 0 18px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
            display: flex;
            align-items: center;
        }

        .t1-left {
            >div:last-child {
                margin-left: 20px;
                font-size: 18px;
                font-family: Helvetica;
                color: #1C1C1C;
            }
        }

        .t1-right {
            >div:first-child {
                color: #233B89;
                width: 20px;
            }

            >div:last-child {
                font-size: 14px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #233B89;
                padding: 0 0px 0 10px;
            }
        }
    }
}

// 意见反馈
.wapper-main-t2 {
    background: #FFFFFF;
    border-radius: 2px;
    margin-top: 10px;

    .van-cell {
        border-radius: 2px;
        display: flex;
        align-items: center;
    }

    .font {
        font-size: 14px;
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #1C1C1C;
    }

    .van-icon {
        padding: 0 10px 0 10px;

    }
}

// 我的收藏
.wapper-main-t3 {
    margin-top: 10px;
    background-color: #FFFFFF;
    height: calc(100% - 140px);

    .Collectiontitle {
        font-size: 14px;
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #1C1C1C;
        padding: 20px 20px 0 20px;
    }
}

// 个人资料
.UserCenter-t1 {

    .personalData {
        margin-top: 10px;

        .personalUsername {
            font-size: 16px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #1C1C1C;

            &::after {
                content: '*';
                color: #F7554F;
                padding: 1px;
            }

        }

        .van-cell__title {
            font-size: 16px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #1C1C1C;
        }
    }

    .van-cell::after {
        border-bottom: 1px dashed #E5E5E5;
        right: 5px;
        bottom: 0;
        left: 5px;
    }

    input {
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #1C1C1C;
    }

    .filed_last-line {
        &::after {
            position: absolute;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            content: " ";
            pointer-events: none;
            bottom: 0;
            border-bottom: 1px dashed #E5E5E5;
            padding: 0 10px;
        }
    }

    .field-select {
        .van-cell__value {
            margin-right: -22px;
        }

        .van-cell__right-icon {
            position: relative;
            left: 20px;
        }
    }

    .filedbtn {
        margin: 16px;
        margin-top: 99px;
    }

    .van-form {
        padding: 0 10px;
    }

    .van-cell {
        padding: 10px 16px 10px 5px;
    }
}

// 意见反馈
.wapper-feed {
    padding: 0 18px;
    margin-top: 20px;

    .feedtitle {
        font-size: 14px;
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #1C1C1C;
        box-sizing: border-box;
    }

    .feedtext {
        width: 100%;
        min-height: 160px;
        background: #F3F3F3;
        border-radius: 5px;
        border: 1px solid #D8D8D8;
        margin-top: 14px;
        overflow: hidden;

        .van-cell {}

        textarea,
        div {
            background: #F3F3F3;
        }

        textarea {
            height: 160px;
            background: #F3F3F3;
        }
    }

    .filedbtn {
        margin: 0 10px;
        margin-top: 99px;
    }
}

// 名医大讲堂
.forum {
    height: 100% !important;

}

.van-list {
    .wapper-re-list {
        padding: 0 16px !important;
    }
}

.forum-class {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .forum-classlist {
        width: 70px;
        height: 40px;
        background: #ECEBEB;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 2px;

        >div {
            font-size: 14px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #6573A2;
            padding: 0 10px;
            text-align: center;
            line-height: 20px;
        }
    }

    >div:first-child {
        width: 50px;

        >div {
            padding: 0;
        }
    }

    .curclassname {
        background: #233B89 !important;

        >div {
            color: #FFFFFF;
        }
    }
}

// 文章详情
.articledetailsMain {
    .articledetails {
        height: calc(100% - 69px);
        overflow: auto;

        .ad-video {
            height: 205px;

            .vjs-poster {
                background-size: 100% 100%;
            }

            .video-js .vjs-big-play-button {
                width: 72px;
                height: 72px;
                border-radius: 100%;
                z-index: 100;
                border: 0;
                background-color: transparent;
                position: absolute;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        .artic_author {
            margin-top: 14px;
            display: flex;
            justify-content: space-between;
            padding: 0 18px;

            .ar-au-left {
                width: 70%;

                .wapper-l-title {
                    font-size: 16px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #000000;
                    white-space: nowrap;
                    position: relative;
                    display: flex;

                    >div:first-child {
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // white-space: nowrap;
                        padding: 0 0px 0 2px;
                        line-height: 1;
                        white-space: break-spaces;
                        word-break: break-all;
                    }

                    >div:last-child {
                        width: 11px;
                        padding: 0 10px;
                    }

                    img {
                        width: 11px;
                        height: 14px;
                    }
                }



                .wapper-l-info {
                    display: flex;
                    font-size: 11px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #7B7B7B;
                    align-items: center;
                    padding: 7px 0 0 0;

                    .wapper-l-author {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                        font-weight: 400;
                        color: #687291;
                        width: 70%;

                        img {
                            width: 16px;
                            height: 16px;
                        }

                        >div:last-child {
                            margin-left: 6px;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    >div:last-child {
                        margin-left: 22px;
                    }
                }

                .wapper-icon-sim {
                    display: flex;

                    .wapper-span {
                        width: 94px;
                        height: 21px;
                        margin-top: 11px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        .wapper-span-back {
                            background: #233B89;
                            border-radius: 4px;
                            opacity: 0.14;
                            border: 1px solid #233B89;
                            width: 100%;
                            height: 100%;
                        }

                        >div {
                            font-size: 12px;
                            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                            font-weight: 400;
                            color: #233B89;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 9;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    >div:last-child {
                        margin-left: 10px;
                    }
                }
            }

            .ar-au-right {
                width: 20%;
                padding: 20px 0;
                margin-right: 19px;

                img {
                    width: 69px;
                    height: 22px;
                }

            }
        }

        .doc-wapper {
            margin-top: 21px;

            .doc-person {
                display: flex;
                padding: 0 18px;
                height: 55px;

                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 4px;
                }

                >div:last-child {
                    margin-left: 14px;
                    font-size: 14px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #1C1C1C;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0 0 5px 0;

                    .department {
                        display: flex;

                        >div:last-child {
                            margin-left: 16px;
                        }
                    }
                }
            }

            .introduce {
                padding: 0 18px;
                margin-top: 18px;

                >div:first-child {
                    font-size: 16px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #000000;
                    line-height: 24px;
                }

                >div:last-child {
                    margin-top: 11px;
                    font-size: 14px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #505050;
                    line-height: 22px;
                }
            }
        }


        .docTitle {
            margin-top: 25px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #233B89;
            text-align: center;
        }

        .doccontent {
            padding: 0 16px;

            img {
                width: 100% !important;
                height: 100% !important;
            }

            p {
                margin: 0 !important;
                padding: 0 !important;
            }

            ol,
            ul,
            li {
                list-style: revert !important;
            }

            ol,
            ul {
                margin-left: 23px !important;
                list-style: revert !important;
            }

            * {
                word-break: break-all;
            }
        }

        .returnIndex {
            width: 29px;
            height: 105px;
            background: #233B89;
            border-radius: 15px 0px 0px 15px;
            position: fixed;
            right: 0;
            bottom: 25%;
            font-size: 14px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #FFFFFF;
            padding: 1px 0 0px 10px;
            display: flex;
            align-items: center;
        }
    }




}

.wapper-l-time {
    padding: 0 !important;
    margin-top: 2px;

    .wapper-l-author {
        width: 100% !important;
    }
}

.isauthorList {
    width: 100% !important;
}

.list-active {
    margin-top: 22px;
}

.comment {
    position: fixed;
    bottom: 0;
    height: 69px;
    width: 100%;
    background: #FFFFFF;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .comment-f1 {
        width: 172px;
        height: 36px;
        background: #F3F3F3;
        border-radius: 18px;
        border: 1px solid #C4C4C4;
        display: flex;
        padding: 0 12px;
        transition: all .25s;

        >div {
            display: flex;
            align-items: center;
        }

        >div:last-child {
            font-size: 11px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #7B7B7B;
            margin-left: 10px;

            input {
                outline: none;
                background: transparent;
                border: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .comment-tabber {
        width: calc(100% - 200px);
        margin-left: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div {
            display: flex;
            align-items: center;
        }

        >div:first-child {
            margin: 0;
        }
    }

    .comment-input {
        width: 75%;
    }

    .combtn {
        width: 20%;
        display: flex;

        button {
            width: 72px;
            height: 36px;
            background: #233B89;
            border-radius: 18px;
        }
    }
}

.popcomment {
    height: 100%;
    overflow: hidden;

    .line {
        height: 40px;
        font-size: 14px;
        font-family: Helvetica;
        color: #1C1C1C;
        padding: 0 18px;
        padding-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pop-content {
        height: calc(100% - 109px);
        overflow: auto;
        padding: 5px 0;
    }

    .pop-footer {
        height: 69px;
    }

    .van-empty__description {
        line-height: 0;
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #505050
    }

    .commtent-list {
        height: 100%;

        .wapper-comment {
            display: flex;
            align-items: flex-start;

            .wapper-item {
                width: calc(100% - 28px);
                margin-left: 12px;
            }

            .wapper-img {
                height: 23px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .wapper-i-name {
                font-size: 11px;
                font-family: Helvetica;
                color: #7B7B7B;
            }

            .wapper-i-content {
                font-size: 14px;
                font-family: Helvetica;
                color: #1C1C1C;
            }

            // 子回复
            .wapper-children {
                height: 27px;
                font-size: 11px;
                font-family: Helvetica;
                color: #233B89;
                line-height: 27px;
            }
        }
    }
}

.wapper-cimg {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    white-space: nowrap;
    height: 100% !important;

    .van-image {
        position: relative;
        top: 2px;
    }

    >div:last-child {
        padding: 6px 0 0 0;
    }
}

.wapper-childen-content {
    margin-top: 2px;
}

.pl-return {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;

    button {
        border-radius: 50%;
    }
}

.my-swipe,
.van-swipe-item {
    border-radius: 6px;
    overflow: hidden;
}

// 活动专区
.activity {
    background: #F3F3F3;

    .wapper-s-item {
        background: #FFFFFF;
        border-radius: 22px;
        border: 1px solid #C4C4C4;

        input {
            font-size: 15px;
            font-family: SourceHanSansSC-Regular, SourceHanSansSC;
            font-weight: 400;
            color: #505050;
        }

        input::-webkit-input-placeholder {
            color: #505050;
        }
    }

    .van-empty__image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .van-empty {
        img {
            width: 256px;
            height: 156px;
        }
    }

    .list-active {
        margin: 0 10px;
        margin-top: 20px;
        border-radius: 4px;

        .active-content {
            // height: 200px;
            border-radius: 4px;
            padding: 11px 10px;
            position: relative;
            background-color: #FFFFFF;

            .active-img {
                img {
                    width: 100%;
                    height: 117px;
                    border-radius: 4px;
                }
            }

            .active-header {
                margin-top: 10px;

                .ac-title {
                    font-size: 15px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #000000;
                    line-height: 22px;
                }

                .ac-time {
                    font-size: 12px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #505050;
                    line-height: 27px;
                }

                .ac-person {
                    font-size: 12px;
                    font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                    font-weight: 400;
                    color: #505050;
                    line-height: 27px;
                }
            }

            .active-icon {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 81px;
                height: 22px;
                background: #FF5858;
                border-radius: 16px;
                display: flex;
                font-size: 13px;
                font-family: SourceHanSansSC-Regular, SourceHanSansSC;
                font-weight: 400;
                color: #fff;
                align-items: center;
                justify-content: center;
                margin: 20px 15px;

                >div {
                    margin-left: 8px;
                }

                i {
                    // padding: 0 5px;
                }

                img {
                    width: 14px;
                    height: 13px;
                }
            }
        }
    }


}

.ac-banner {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    margin: 0 10px;
    margin-top: 10px;

    .my-swipe,
    .van-swipe-item {
        border-radius: 6px;
        overflow: hidden;
    }


}